<div class="parent">
  <div class="child">
    <span class="title">child - 1</span>
    <span>Render -> {{count}}</span>
    <span>Data: {{data}}</span>
    <span>State: {{state}}</span>
    <button (click)="changeData()">Change Data</button>
    <input type="text" placeholder="input text" (keyup)="keyup()">
  </div>
  <div class="arrows">
    <i class="gg-arrow-bottom-left"></i>
    <i class="gg-arrow-bottom-right"></i>
  </div>
  <div class="children">
    <app-child3 [data]="data"></app-child3>
    <app-child3 [data]="data"></app-child3>
  </div>
</div>
{{isRendering()}}
