<div class="parent">
  <div class="child">
    <div class="header">
      <span class="title">Default - 1</span>
      <span>Render: {{render}}</span>
    </div>
    <div class="actions">
      <span>Timer: {{timer}}</span>
      <button (click)="initTimer()">Start</button>
      <button (click)="clearTimer()">End</button>
    </div>
    <hr>
    <span>Output: {{output}}</span>
    <hr>
    <span>Input Data: {{data}}</span>
    <button (click)="changeData()">Change Input Data</button>
    <hr>
    <table>
      <thead>
        <tr><th>Name</th><th>Age</th></tr>
      </thead>
      <tbody>
        <tr><td>{{user.name}}</td><td>{{user.age}}</td></tr>
      </tbody>
    </table>
    <hr>
    <div class="actions">
      <button (click)="promises()">Promises</button>
      <button (click)="request()">Request</button>
    </div>
    <hr>
    <span>State Async Pipe: {{stateAsyncPipe}}</span>
    <hr>
    <div class="actions">
      <span>Subscription: {{stateSubscription}}</span>
      <button (click)="initSubscription()">Start</button>
      <button (click)="stopSubscription()">End</button>
    </div>
    <input type="text" placeholder="Input text" (input)="input($event)">
  </div>
  <div class="arrows">
    <i class="gg-arrow-bottom-left"></i>
    <i class="gg-arrow-bottom-right"></i>
  </div>
  <div class="children">
    <app-default-child
      [child]="'2'"
      [data]="data"
      (output)="setOutput()">
    </app-default-child>
    <app-default-child
      [child]="'3'"
      [data]="data"
      (output)="setOutput()">
    </app-default-child>
  </div>
</div>
{{isRendering()}}
