<div class="behavior-cd">
  <span class="title">Change Detection Strategy</span>
  <table>
    <thead>
      <tr><th></th><th>DEFAULT</th><th>ONPUSH</th></tr>
    </thead>
    <Tbody>
      <tr>
        <td>Inputs</td>
        <td><span>&#10003;</span></td>
        <td><span>&#10003;(If the value changes)</span></td>
      </tr>
      <tr>
        <td>Inputs (Mutability)</td>
        <td><span>&#10003;</span></td>
        <td><span>&#x2715;</span></td>
      </tr>
      <tr>
        <td>Mouse Events</td>
        <td><span>&#10003;</span></td>
        <td><span>&#10003;(own component)</span></td>
      </tr>
      <tr>
        <td>Keyboard Events</td>
        <td><span>&#10003;</span></td>
        <td><span>&#10003;(own component)</span></td>
      </tr>
      <tr>
        <td>Timers</td>
        <td><span>&#10003;</span></td>
        <td><span>&#x2715;</span></td>
      </tr>
      <tr>
        <td>Promises</td>
        <td><span>&#10003;</span></td>
        <td><span>&#x2715;</span></td>
      </tr>
      <tr>
        <td>Request</td>
        <td><span>&#10003;</span></td>
        <td><span>&#x2715;</span></td>
      </tr>
      <tr>
        <td>Outputs</td>
        <td><span>&#10003;</span></td>
        <td><span>&#10003;</span></td>
      </tr>
    </Tbody>
  </table>
</div>
