{{isRendering()}}
<div class="parent">
  <div class="root">
    <div class="header">
      <span class="title">Parent </span>
      <span>Render: {{render}}</span>
    </div>
    <hr>
    <span>Data: {{data}}</span>
    <button (click)="changeData()">Change Input Data</button>
    <hr>
    <table>
      <thead>
        <tr><th>Name</th><th>Age</th></tr>
      </thead>
      <tbody>
        <tr><td>{{user.name}}</td><td>{{user.age}}</td></tr>
      </tbody>
    </table>
    <button (click)="click()">Change User Age</button>
    <hr>
    <span>State: {{stateService.getAsyncPipe() | async}}</span>
    <input type="text" placeholder="Update State Async Pipe" (input)="input($event)">
  </div>
  <div class="arrows">
    <i class="gg-arrow-bottom-left"></i>
    <i class="gg-arrow-bottom-right"></i>
  </div>
  <div class="children">
    <app-default
      [data]="data"
      [stateAsyncPipe]="stateService.getAsyncPipe() | async"
      [user]="user">
    </app-default>
    <app-onpush
      [data]="data"
      [stateAsyncPipe]="stateService.getAsyncPipe() | async"
      [user]="user">
    </app-onpush>
  </div>
</div>

<div class="dispatch-cd">
  <span class="title">Change Detection</span>
  <table>
    <thead>
      <tr><th>TRIGGERS</th><th>DEFAULT</th><th>ONPUSH</th></tr>
    </thead>
    <Tbody>
      <tr>
        <td>Inputs</td>
        <td><span>&#10003;</span></td>
        <td><span>&#10003; (If the value changes)</span></td>
      </tr>
      <tr>
        <td>Inputs (Mutability)</td>
        <td><span>&#10003;</span></td>
        <td><span>&#x2715;</span></td>
      </tr>
      <tr>
        <td>Outputs</td>
        <td><span>&#10003;</span></td>
        <td><span>&#10003;</span></td>
      </tr>
      <tr>
        <td>Timers</td>
        <td><span>&#10003;</span></td>
        <td><span>&#x2715;</span></td>
      </tr>
      <tr>
        <td>Mouse Events</td>
        <td><span>&#10003;</span></td>
        <td><span>&#10003;</span></td>
      </tr>
      <tr>
        <td>Keyboard Events</td>
        <td><span>&#10003;</span></td>
        <td><span>&#10003;</span></td>
      </tr>
      <tr>
        <td>Promises</td>
        <td><span>&#10003;</span></td>
        <td><span>&#x2715;</span></td>
      </tr>
      <tr>
        <td>Request</td>
        <td><span>&#10003;</span></td>
        <td><span>&#x2715;</span></td>
      </tr>
      <tr>
        <td>Subscription</td>
        <td><span>&#10003;</span></td>
        <td><span>&#x2715;</span></td>
      </tr>
    </Tbody>
  </table>
</div>
