.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 80px;
  border: 1px solid black;
  margin: 25px;
}

.childs {
  display: flex;
  flex-direction: row;
}
