<div class="parent">
  <div class="root">
    <div class="header">
      <span class="title">Parent </span>
      <span>Render: {{render}}</span>
    </div>
    <hr>
    <span>Data: {{data}}</span>
    <button (click)="changeData()">Change Input Data</button>
    <hr>
    <table>
      <thead>
        <tr><th>Name</th><th>Age</th></tr>
      </thead>
      <tbody>
        <tr><td>{{user.name}}</td><td>{{user.age}}</td></tr>
      </tbody>
    </table>
    <button (click)="click()">Change User Age</button>
    <hr>
    <div class="actions">
      <button (click)="clickEmpty()">Click</button>
      <div>
        <span>State: {{stateService.getAsyncPipe() | async}}</span>
        <input type="text" placeholder="Update State Async Pipe" (input)="input($event)">
      </div>
    </div>
  </div>
  <div class="arrows">
    <i class="gg-arrow-bottom-left"></i>
    <i class="gg-arrow-bottom-right"></i>
  </div>
  <div class="children">
    <app-default
      [data]="data"
      [stateAsyncPipe]="stateService.getAsyncPipe() | async"
      [user]="user">
    </app-default>
    <app-onpush
      [data]="data"
      [stateAsyncPipe]="stateService.getAsyncPipe() | async"
      [user]="user">
    </app-onpush>
  </div>
</div>
<app-trigger-cd>
</app-trigger-cd>
{{isRendering()}}
